.mediumTitle {
	color: #202326;
	font-family: Onest;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px; /* 128.571% */
	letter-spacing: -0.56px;
}

.bigTitle {
	color: #202326;
	font-family: Onest;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px; /* 90% */
	letter-spacing: -0.8px;
}
